@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
 
  padding: 40px;
min-width: 100%;
 
  height: 70%;
  margin: auto;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(20px);
  animation: slideUp 0.6s ease-out forwards;
}

.error-message {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #4a4a4a;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-out 0.5s forwards;
}

.error-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #006e8e;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-out 1s forwards;
}

.error-button:hover {
  background-color: #004f63;
}

.error-image {
  width: 400px;
  height: auto;
  animation: fadeInImage 1s ease-out 0.2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .error-container {
    padding: 30px;
  }

  .error-message {
    font-size: 18px;
  }

  .error-button {
    font-size: 14px;
  }

  .error-image {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .error-container {
    padding: 20px;
  }

  .error-message {
    font-size: 16px;
  }

  .error-button {
    font-size: 12px;
  }

  .error-image {
    width: 120px;
  }
}
