@import "tailwindcss";
:root {
  --primary: #1e3a8a; /* Tailwind: text-blue-800 */
  --lightBlue: #93c5fd; /* Tailwind: text-blue-300 */
  --darkBlue: #1e293b; /* Tailwind: bg-gray-900 */
  --textColor: #334155; /* Tailwind: text-gray-700 */
  --lightGray: #e2e8f0; /* Tailwind: text-gray-300 */
  --accent: #2563eb; /* Tailwind: bg-blue-600 */
  --accentHover: #60a5fa; /* Tailwind: hover:bg-blue-400 */
}
#root {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--lightGray);
  min-height: 100vh;
}
.router-container {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2563eb, #60a5fa);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #60a5fa, #2563eb);
}

::-webkit-scrollbar-track {
  background: var(--lightGray);
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: var(--lightGray);
}

